/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
}
body {
    font-size: 16px;
	line-height: 1.6;
	color: #3a3a3a;
}
ul {
    list-style: none;
}
a { 
	color: #fff;
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.main-header {
    width: 100%;
	background: teal;
    padding-left: 2em;
}

.main-footer {
	padding: 2em 2em;
	background: #d9e4ea;
    width: 100%;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    min-height: calc(100vh - 89px);
}
.block {
    width: 100%;
    display: inline-block;
}
/* ---- Page Elements ---- */




/* media queries */
@media (min-width: 768px) {
    .wrapper {
        padding-top: 70px;
        width: 70%;
	   max-width:1000px;
        margin: 0 auto;
    }
    .name {
        width: 250px;
    }
    .name, .main-nav, .main-nav li {
        display: inline-block;
        margin-top: 60px;
    }
    .main-nav li:last-child {
        margin-right: 0;
    }
    .block {
        width: 49%;
        display: inline-block;
    }
    /*
    Tar bort mellanrum
    .main-nav li {
        margin-left: -4px;
    }*/
}